* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #333444;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 1rem;
}

form {
  margin: 0.5rem 1rem;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid #333444;
  outline: none;
}

form button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #333444;
  background-color: #333444;
  color: #FFFEEE;
  transition: 200ms;
  cursor: pointer;
}

form button:hover {
  filter: brightness(1.4);
}

.product-item {
  margin: 0.5rem 1rem;
}